= simple_form_for @survey, :url => admin_surveys_path(@survey) do |f|
  = f.error_messages
  .inputs
    = f.input :title
    = f.input :author
    = f.input :description, :as => :text, :input_html => {:columns => 6, :rows => 4}
    = render :partial => 'admin/questions/form', :locals => { :survey => f }
    = link_to 'Add question', '#'
    = f.input :published_flag, :label => "Published ?"
  .actions
    = f.button :submit, "Create"
