<% title "User Answer" %>

<p>
  <strong>Survey Result:</strong>
  <%= @user_answer.survey_result_id %>
</p>
<p>
  <strong>Question:</strong>
  <%= @user_answer.question_id %>
</p>
<p>
  <strong>Answer:</strong>
  <%= @user_answer.answer_id %>
</p>
<p>
  <strong>Content:</strong>
  <%= @user_answer.content %>
</p>

<p>
  <%= link_to "Edit", edit_user_answer_path(@user_answer) %> |
  <%= link_to "Destroy", @user_answer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_answers_path %>
</p>
