<%= form_for @survey_result do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :survey_id %>
    <%= f.number_field :survey_id %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
