- title "Survey"

%p
  %strong Title:
  = @survey.title
%p
  %strong Author:
  = @survey.author

%p
  = link_to "Edit", edit_survey_path(@survey)
  |
  = link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", surveys_path
