- title "Survey results for #{@survey.title}"
- @survey.questions.each do |q|
  .question_and_results_container
    .question
      = q.content
    - if q.type_is?('option')
      .chart{:id => "chart_#{q.id}"}
      = render :partial => 'chart', :locals => { :q => q, :survey => @survey }
    -else
      .result_finder_container{:id => "result_finder_container_#{q.id}"}
        .finder_form_container{:id => "finder_form_container_#{q.id}"}
          = render :partial => 'result_finder', :locals => {:question => q, :survey => @survey}
        .finder_results_container{:id => "finder_results_container_#{q.id}"}
